@model IEnumerable<ToDo.Models.Tarefa>
@{
    ViewData["Title"] = "Lojas Americanas";
}

<h1>Lojas Americanas</h1>

<br>
<br>


<p>
    <a class="btn btn-success" asp-action="Create">Adicionar Cliente</a>
</p>

<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Name) *@
                Nome Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @*                @Html.DisplayNameFor(model => model.End_Completo)*@
                Endereço
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.EndDate)*@
                Data de Contrato
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.ActionLink("Details", "Tarefas", new { Id = item.Id })'">

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Telefone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.End_Completo
                </td>
                <td>
                    @item.EndDate.ToString("dd MMM yyyy")
                </td>
                <td>

                    @if (DateTime.Now < @item.EndDate.AddMonths(-3))
                    {
                        <span class="badge bg-success text-white">Ativo</span>
                    }
                    else if (DateTime.Now < @item.EndDate.AddMonths(3))
                    {
                        <span class="badge bg-warning text-white">Pendente</span>
                    }
                    else if (DateTime.Now >= @item.EndDate.AddYears(1))
                    {
                        <span class="badge bg-danger text-white">Desativado</span>
                    }
                    else
                    {
                        <span class="badge bg-success text-white">Ativo</span>
                    }



                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
